#root{
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

#backdrop{
    position: absolute;
    z-index: 25;
}

#notification{
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
}

.rounded-circle{
    border-radius: 9999px;
}